@import '~bootstrap/scss/bootstrap';
.row{
  gap: 15px;
.list{

   margin-bottom: 15px;

.list-row{
  display: flex;
  max-height: 150px;
  .list-row-img{
    flex: 0 1 20%;
    height: 100%;
    width: 100%;
    img{
      height: 150px;
      width: 150px;
      border-radius: 10px;
    }
  }
  .list-row-desc{
    margin-left: 15px;
    overflow: hidden;
    p{
      overflow: hidden;
    }
  }
}

}
}